
.cart{
    min-height: calc(100vh - 100px);
    display: flex;
    position: relative;


    &-items{
        flex: 9;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem;
        overflow-y: scroll;
    }
    &-checkout{
        flex: 3;
        background: linear-gradient(0deg, rgba(175,246,222,1), rgba(67,154,151,1));
        box-sizing: border-box;
        position: relative;
        @include Flex;
    }
    &-wrapper{
        padding: 3rem;
        @include Flex;
        flex-direction: column;
        gap: 2rem;
        color: white;
        position: fixed;
        top: 0;
        height: 100%;

        h1{
            font-size: 3rem;
            font-weight: 300;
            color: darkblue;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 400;
            color: darkblue;
        }

        button{
            margin-top: 10rem;
            border: none;
            outline:  none;
            padding: 1.2rem 2rem;
            @include Flex;
            gap: 1.2rem;
            border-radius: .5rem;
            background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            cursor: pointer;

          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
        }
    }
}

